@{
    ViewBag.Title = "污染源监测";
    ViewData["dataSelector"] = ".js-lists";
    Layout = "~/Views/Shared/_BasicLayout.cshtml";

    var jsFiles = new List<string>();
    jsFiles.Add("Scripts/common/dataHandler.js");
    jsFiles.Add("Scripts/common/charts.js");
    jsFiles.Add("Scripts/common/list.js");
    jsFiles.Add("Scripts/plugins/slimscroll/jquery.slimscroll.min.js");
    jsFiles.Add("Scripts/plugins/heighChart/highcharts.js");
    jsFiles.Add("Scripts/init.js");
    jsFiles.Add("Scripts/pollution.js");
    jsFiles.Add("Scripts/plugins/metisMenu/jquery.metisMenu.js");
    jsFiles.Add("Scripts/plugins/layer/layer.min.js");
    jsFiles.Add("Scripts/hplus.min.js");
    jsFiles.Add("Scripts/jquery.layout.js");
    ViewBag.JsModules = jsFiles;
    var csFiles = new List<string>();
    csFiles.Add("Content/Common.css");
    csFiles.Add("Content/framework-ui.css");
    ViewBag.cssModules = csFiles;
}
<script>
    $(function () {
        $('#layout').layout();
    });
</script>

<!--超标处置单模态图-->
<div class="modal" id="myPollutOverDealModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">污染物超标处置单</h4>
            </div>
            <div class="modal-body">
                <form class="js-form">
                    <div class="price-title">
                        污染物报警处置单
                    </div>
                    <div class="price-info">
                        <table class="form">
                            <tr>
                                <th class="formTitle">污染源名称</th>
                                <td class="formValue" style="padding-right: 20px;" colspan="3">
                                    <input type="text" class="form-control" value="" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">监控点名称</th>
                                <td class="formValue" style="padding-right: 20px;" colspan="3">
                                    <input type="text" class="form-control" value="" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">污染物名称</th>
                                <td class="formValue" style="padding-right: 20px;">
                                    <input type="text" class="form-control" value="" />
                                </td>
                                <th class="formTitle">报警类别</th>
                                <td class="formValue">
                                    <input type="text" class="form-control" value="" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">国家标准值</th>
                                <td class="formValue" style="padding-right: 20px;">
                                    <input type="text" class="form-control" value="" />
                                </td>
                                <th class="formTitle">执行标准值</th>
                                <td class="formValue">
                                    <input type="text" class="form-control" value="" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">报警开始时间</th>
                                <td class="formValue" style="padding-right: 20px;">
                                    <input type="text" class="form-control" value="" />
                                </td>
                                <th class="formTitle">报警值</th>
                                <td class="formValue">
                                    <input type="text" class="form-control" value="" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">报警结束时间</th>
                                <td class="formValue" style="padding-right: 20px;">
                                    <input type="text" class="form-control" value="" />
                                </td>
                                <th class="formTitle">解报值</th>
                                <td class="formValue">
                                    <input type="text" class="form-control" value="" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">进入处置时间</th>
                                <td class="formValue" style="padding-right: 20px;">
                                    <input type="text" class="form-control" value="" />
                                </td>
                                <th class="formTitle">处置完毕时间</th>
                                <td class="formValue">
                                    <input type="text" class="form-control" value="" />
                                </td>
                            </tr>
                            <tr>
                                <th style="text-align:center" colspan="4">报警处置</th>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <input id="Checkbox1" type="checkbox" />报告领导
                                </th>
                                <th class="formTitle">领导姓名</th>
                                <td class="formValue">
                                    <input type="text" class="form-control" value="" />
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <input id="Checkbox1" type="checkbox" />通知执法人员
                                </th>
                                <th class="formTitle">执法人员</th>
                                <td class="formValue">
                                    <input type="text" class="form-control" value="" />
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <input id="Checkbox1" type="checkbox" />通知运维单位
                                </th>
                                <th class="formTitle">执法人员单位</th>
                                <td class="formValue">
                                    <input type="text" class="form-control" value="" />
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <input id="Checkbox1" type="checkbox" />通知排污企业
                                </th>
                                <th class="formTitle">运维单位名称</th>
                                <td class="formValue">
                                    <input type="text" class="form-control" value="" />
                                </td>
                            </tr>
                            <tr>
                                <th colspan="4">
                                    <input id="Checkbox1" type="checkbox" />自行处理
                                </th>

                            </tr>
                            <tr>
                                <th style="text-align:center" colspan="4">处置情况</th>
                            </tr>
                            <tr>
                                <th colspan="4">
                                    处置情况描述
                                    <input id="Radio1" type="radio" name="rdeal" />处置中
                                    <input id="Radio1" type="radio" name="rdeal" />处置完毕
                                </th>
                            </tr>
                        </table>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>
<!--数采仪掉线处置单模态图-->
<div class="modal" id="myDataDropDealModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">数采仪掉线处置单</h4>
            </div>
            <div class="modal-body">
                <form class="js-form">
                    <div class="price-title">
                        设施报警处置单
                    </div>
                    <div class="price-info">
                        <table class="form">
                            <tr>
                                <th class="formTitle">污染源名称</th>
                                <td class="formValue" style="padding-right: 20px;" colspan="3">
                                    <input type="text" class="form-control" value="" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">设施名称</th>
                                <td class="formValue" style="padding-right: 20px;">
                                    <input type="text" class="form-control" value="" />
                                </td>
                                <th class="formTitle">报警类别</th>
                                <td class="formValue">
                                    <input type="text" class="form-control" value="" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">报警时间</th>
                                <td class="formValue" style="padding-right: 20px;">
                                    <input type="text" class="form-control" value="" />
                                </td>
                                <th class="formTitle">解报时间</th>
                                <td class="formValue">
                                    <input type="text" class="form-control" value="" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">进入处置时间</th>
                                <td class="formValue" style="padding-right: 20px;">
                                    <input type="text" class="form-control" value="" />
                                </td>
                                <th class="formTitle">处置完毕时间</th>
                                <td class="formValue">
                                    <input type="text" class="form-control" value="" />
                                </td>
                            </tr>
                            <tr>
                                <th style="text-align:center" colspan="4">报警处置</th>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <input id="Checkbox1" type="checkbox" />报告领导
                                </th>
                                <th class="formTitle">领导姓名</th>
                                <td class="formValue">
                                    <input type="text" class="form-control" value="" />
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <input id="Checkbox1" type="checkbox" />通知执法人员
                                </th>
                                <th class="formTitle">执法人员</th>
                                <td class="formValue">
                                    <input type="text" class="form-control" value="" />
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <input id="Checkbox1" type="checkbox" />通知运维单位
                                </th>
                                <th class="formTitle">执法人员单位</th>
                                <td class="formValue">
                                    <input type="text" class="form-control" value="" />
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <input id="Checkbox1" type="checkbox" />通知排污企业
                                </th>
                                <th class="formTitle">运维单位名称</th>
                                <td class="formValue">
                                    <input type="text" class="form-control" value="" />
                                </td>
                            </tr>
                            <tr>
                                <th colspan="4">
                                    <input id="Checkbox1" type="checkbox" />自行处理
                                </th>

                            </tr>
                            <tr>
                                <th style="text-align:center" colspan="4">处置情况</th>
                            </tr>
                            <tr>
                                <th colspan="4">
                                    处置情况描述
                                    <input id="Radio1" type="radio" name="rdeal" />处置中
                                    <input id="Radio1" type="radio" name="rdeal" />处置完毕
                                </th>
                            </tr>
                        </table>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>
<!--数采仪报警详情模态图-->
<div class="modal" id="myPollutOverInfoModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">数采仪报警详情</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>
<!--报警记录列表模态图-->
<div class="modal" id="myAlarmModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">报警记录列表</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>
<!--面包屑导航-->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        @*<h1>@ViewData["title"]</h1>*@
        <ol class="breadcrumb">
            <li>
                <a href="@(Url.Action("Dashboard", "Manage"))">主页</a>
            </li>
            <li>
                <a href="@(Url.Action("RealtimeMonitor", "Pollution"))">污染源数据</a>
            </li>
            <li>
                <strong>@ViewData["title"]</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="tab-content">

        <div class="tab-pane active" id="VouManage">
            <div class="ibox-content">
                @*@Html.Partial("BtnListPartial",ViewData)*@
                <div class="row js-alert"></div>
                @* 筛选查询部分 *@
                <div class="row">
                    <div class="ibox float-e-margins">
                        <form class="form-horizontal m-t js-search" id="commentForm" novalidate="novalidate">
                            <div class="row" id="DropDownbox">
                                <div class="form-group col-sm-3">
                                    <label class="col-sm-5 control-label">污染点：</label>
                                    <div id="PollutionPoint" class="col-sm-6">
                                        <select name="PollutantPoint" class="chosen-select-width col-sm-11">
                                            <option value="">请选择</option>
                                            @*@{
                                                    if (@Model.listPollutionPoints != null)
                                                    {
                                                        foreach (WRYJC.DAL.PollutionPoint e in @Model.listPollutionPoints)
                                                        {
                                                            <option value=@e.Id>@e.Name</option>
                                                        }
                                                    }
                                                }*@
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-sm-3">
                                    <label class="col-sm-5 control-label">污染点：</label>
                                    <div id="PollutionPoint" class="col-sm-6">
                                        <select name="PollutantPoint" class="chosen-select-width col-sm-11">
                                            <option value="">请选择</option>
                                            @*@{
                                                    if (@Model.listPollutionPoints != null)
                                                    {
                                                        foreach (WRYJC.DAL.PollutionPoint e in @Model.listPollutionPoints)
                                                        {
                                                            <option value=@e.Id>@e.Name</option>
                                                        }
                                                    }
                                                }*@
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
